body{    
background: #F6FAFD;
padding-left: 240px;;
}
.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 240px;
    top: 74px;
    background: #9C69E2;
    border-radius: 20px;
}
.rectangle{
    position: absolute;
    width: 20px;
    height: 35px;
    left: 270px;
    top: 60px;
    background: #F063B8;
    border-radius: 20px;
}
.header{
    position: absolute;
    left: 240px;
    top: 74px;
    padding-right: 20%;
    word-spacing: 2em;
    margin-left: 9em;
}
.about{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}
.normal_header_item{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68
}
.request_demo_btn{
    position: absolute;
    margin-left: 52%;
    top: 64px;
    color: #212353;
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    padding: 17px 29px;
    border-radius: 50px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
}
.arrow{
    position: relative;
    display: inline-block;
    border: solid  #9C69E2;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(-45deg);
    right: 7px;
    
}
.arrow-line{
    position:relative;
    display: inline-block;
    border: solid  #9C69E2;
    border-width: 0 0px 2px 0;
    padding: 10px;
    margin: 0px 0px 5px 10px;
    bottom: 7.5px;
    left: 5.5px;
}
.data_storage{
    margin: 15% 0 5% 0;
    position: relative;
    color: #212353;
    font-family: Helvetica;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
}
.top_pic_1{
    position: relative;
    width: 885px;
    height: 468px;
    float: right;
    right: 19%;
    top: 100px;
}

.data_storage_warehouse{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-bottom: 5%;
}
.learn_more_btn{
    border: 2px solid #9C69E2;
    color: #FFFFFF;
    background:  #9C69E2;
    padding: 16px 37px;
    border-radius: 50px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    width: 96px;
    height: 29px;
    text-align: center;
}
.pink_board{
    position: relative;
    display: block;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    align-items: center;
    width: 73%;
    margin-top: 10%;
    padding-bottom: 60px;
    padding-top: 40px;
}
.pic_2{
    width: 477px;
    height: 504px;
    float: left;
    right: 19%;
}
.high_level_data{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
    margin-top: 8%;
    padding-left: 5%;
    padding-bottom: 3%;
}
.text_position{
    position: relative;
    margin-right: 50px;
    left:5%;
}
.text_features{
    position: relative;
    display: block;
    text-align: center;
    margin-right: 20%;
    padding-left: 5%;
}
.feature_items{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-bottom: 10%;
}
.pic_feature{
    float: left;
    position: absolute;
    margin-top: 70px;
}

.pic_backgroud{
    position: relative;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 6%;
}

#simple_text{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    position: absolute;
    transform: translate(-120%, 30%);
}
#title_feature{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}
.learn_more_arrow{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    margin-top: 20px;
}
.arrow-1{
    position: relative;
    display: inline-block;
    border: solid  #9C69E2;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(-45deg);
    right: 7px;
}
.arrow-line-1{
    position:relative;
    display: inline-block;
    border: solid  #9C69E2;
    border-width: 0 0px 2px 0;
    padding: 10px;
    margin: 0px 0px 5px 10px;
    bottom: 7.5px;
    left: 5.5px;
}
.vector_pic_1{
    position: absolute;
    top: 15px;
    left: 21%;
}
.vector_pic_2{
    position: absolute;
    top: 24%;
    right: 17%;
}
.vector_pic_3{
    position: absolute;
    margin-top: 30px;
    left: 28%;
}
.vector_pic_4{
    position: absolute;
    margin-top: 25px;
    right: 21%;
}